# Copy this file to behat.local.yml and change parameters
# Local configuration.
default:
  context:
    parameters:
      drupal_users:
        admin:
          username: 'input admin username here'
          password: 'input admin password here'
        editor:
          username: 'input editor username here'
          password: 'input editor password here'
  extensions:
    Behat\MinkExtension\Extension:
      base_url: 'Input base url here'
    Drupal\DrupalExtension\Extension:
      # Set this drush alias in your aliases.drushrc.php file to match
      # the base_url set above. Leave off the preceding '@'.
      drush:
        alias: 'Input site alias here'
