.set-left { float: left; }

.set-right { float: right; }

.reset-link a { text-decoration: none; }

@media (max-width: 720px) { .neg-margin { margin: 0 -8px !important; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { .hidden-mobile { display: none; } }
@media only screen and (min-width: 321px) and (max-width: 700px) { .hidden-mobile { display: none; } }
@media only screen and (max-width: 320px) { .hidden-mobile { display: none; } }

@media only screen and (min-width: 1224px) { .hidden-desktop { display: none; } }
@media only screen and (min-width: 1824px) { .hidden-desktop { display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { .hidden-desktop { display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { .hidden-desktop { display: none; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { .hidden-desktop { display: none; } }

@media only screen and (min-width: 1224px) { .visible-desktop { display: block; } }
@media only screen and (min-width: 1824px) { .visible-desktop { display: block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { .visible-desktop { display: block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { .visible-desktop { display: block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { .visible-desktop { display: block; } }

@media (max-width: 720px) { .wide-mobile { width: 100% !important; } }

.spacing-before { margin-top: 10px; }

.double-spacing-before { margin-top: 20px; }

.spacing-after { margin-bottom: 10px; }

.double-spacing-after { margin-bottom: 20px; }
